a.out
pcse
pcse-x64-*
tests
.ccls
*.o
*.gch
*.exe

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# ccls
.ccls-cache/

.idea/
.clangd/
.vscode/

vgcore.*
